# Miscellaneous & OS
*.class
*.log
*.pyc
*.swp
.DS_Store
Thumbs.db
Desktop.ini
.history
.svn/

# IDEs and Editors
.idea/
*.iml
*.ipr
*.iws
.vscode/
*.sublime-project
*.sublime-workspace

# Flutter / Dart / Pub
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
coverage/
doc/api/

# Android Studio / Gradle
.gradle/
local.properties
**/android/app/debug
**/android/app/profile
**/android/app/release
**/android/.gradle
**/android/captures
**/android/gradlew
**/android/gradlew.bat

# iOS / Xcode
**/ios/.generated/
**/ios/Flutter/.last_build_id
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/app.flx
**/ios/Flutter/app.zip
**/ios/Flutter/flutter_assets/
**/ios/Pods/
**/ios/.symlinks/
*.mode1v3
*.mode2v3
*.moved-aside
*.pbxuser
*.perspectivev3
**/ios/Runner.xcworkspace/xcuserdata/

# Web
**/web/build/

# Windows desktop
**/windows/flutter/ephemeral/

# Symbolication & Obfuscation
app.*.symbols
app.*.map.json

# Environment / Local Configurations & Secret Keys
.env
.env.*
*.local
